<a href="https://colab.research.google.com/github/SUNNY00766/-employee-salary-prediction/blob/main/Welcome_To_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
import pandas as pd

Sal_data=pd.read_csv('Dataset09-Employee-salary-prediction.csv')

Sal_data.head(10)

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0
5,29.0,Male,Bachelor's,Marketing Analyst,2.0,55000.0
6,42.0,Female,Master's,Product Manager,12.0,120000.0
7,31.0,Male,Bachelor's,Sales Manager,4.0,80000.0
8,26.0,Female,Bachelor's,Marketing Coordinator,1.0,45000.0
9,38.0,Male,PhD,Senior Scientist,10.0,110000.0

In [29]:
data.tail(3)

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
372,29.0,Female,Bachelor's,Junior Project Manager,2.0,40000.0
373,34.0,Male,Bachelor's,Senior Operations Coordinator,7.0,90000.0
374,44.0,Female,PhD,Senior Business Analyst,15.0,150000.0

In [10]:
data.shape

(375, 6)

In [33]:
data.columns

Index(['Age', 'Gender', 'Education Level', 'Job Title', 'Years of Experience',
       'Salary'],
      dtype='object')

In [35]:
Sal_data.columns = ['Age','Gender','Degree','Job_title','Experience_year','Salary']

In [42]:
Sal_data.head()

    Age  Gender      Degree          Job_title  Experience_year    Salary
0  32.0    Male  Bachelor's  Software Engineer              5.0   90000.0
1  28.0  Female    Master's       Data Analyst              3.0   65000.0
2  45.0    Male         PhD     Senior Manager             15.0  150000.0
3  36.0  Female  Bachelor's    Sales Associate              7.0   60000.0
4  52.0    Male    Master's           Director             20.0  200000.0

In [12]:
data.dtypes

Age                    float64
Gender                  object
Education Level         object
Job Title               object
Years of Experience    float64
Salary                 float64
dtype: object

In [43]:
Sal_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375 entries, 0 to 374
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              373 non-null    float64
 1   Gender           373 non-null    object
 2   Degree           373 non-null    object
 3   Job_title        373 non-null    object
 4   Experience_year  373 non-null    float64
 5   Salary           373 non-null    float64
dtypes: float64(3), object(3)
memory usage: 17.7+ KB

In [36]:
Sal_data.shape

(375, 6)

In [38]:
Sal_data.dtypes

Age                float64
Gender              object
Degree              object
Job_title           object
Experience_year    float64
Salary             float64
dtype: object

In [44]:
Sal_data[Sal_data.duplicated()]

,Age,Gender,Degree,Job_title,Experience_year,Salary
195,28.0,Male,Bachelor's,Junior Business Analyst,2.0,40000.0
250,30.0,Female,Bachelor's,Junior Marketing Coordinator,2.0,40000.0
251,38.0,Male,Master's,Senior IT Consultant,9.0,110000.0
252,45.0,Female,PhD,Senior Product Designer,15.0,150000.0
253,28.0,Male,Bachelor's,Junior Business Development Associate,2.0,40000.0
254,35.0,Female,Bachelor's,Senior Marketing Analyst,8.0,85000.0
255,44.0,Male,Bachelor's,Senior Software Engineer,14.0,130000.0
256,34.0,Female,Master's,Senior Financial Advisor,6.0,100000.0
257,35.0,Male,Bachelor's,Senior Project Coordinator,9.0,95000.0
258,50.0,Female,PhD,Director of Operations,22.0,180000.0
260,NaN,NaN,NaN,NaN,NaN,NaN
262,46.0,Male,PhD,Senior Data Scientist,18.0,160000.0
281,41.0,Female,Bachelor's,Senior Project Coordinator,11.0,95000.0
287,35.0,Female,Bachelor's,Senior Marketing Analyst,8.0,85000.0
303,45.0,Male,PhD,Senior Data Engineer,16.0,150000.0
306,49.0,Female,Master's,Director of Marketing,21.0,180000.0
307,31.0,Male,Bachelor's,Junior Operations Analyst,3.0,50000.0
309,47.0,Male,Master's,Director of Marketing,19.0,170000.0
310,29.0,Female,Bachelor's,Junior Business Development Associate,1.5,35000.0
311,35.0,Male,Bachelor's,Senior Financial Manager,9.0,100000.0
312,44.0,Female,PhD,Senior Product Designer,15.0,150000.0
313,33.0,Male,Bachelor's,Junior Business Analyst,4.0,60000.0
314,35.0,Female,Bachelor's,Senior Marketing Analyst,8.0,85000.0
315,44.0,Male,Bachelor's,Senior Software Engineer,13.0,130000.0
317,36.0,Male,Bachelor's,Senior Marketing Specialist,8.0,95000.0
328,38.0,Female,Bachelor's,Senior Business Analyst,10.0,110000.0
345,33.0,Male,Bachelor's,Junior Business Analyst,4.0,60000.0
346,35.0,Female,Bachelor's,Senior Marketing Analyst,8.0,85000.0
352,38.0,Female,Bachelor's,Senior Business Analyst,10.0,110000.0
353,48.0,Male,Master's,Director of Marketing,21.0,180000.0
354,31.0,Female,Bachelor's,Junior Business Development Associate,3.0,50000.0
355,40.0,Male,Bachelor's,Senior Financial Analyst,12.0,130000.0
356,45.0,Female,PhD,Senior UX Designer,16.0,160000.0
357,33.0,Male,Bachelor's,Junior Product Manager,4.0,60000.0
358,36.0,Female,Bachelor's,Senior Marketing Manager,8.0,95000.0
359,47.0,Male,Master's,Director of Operations,19.0,170000.0
360,29.0,Female,Bachelor's,Junior Project Manager,2.0,40000.0
361,34.0,Male,Bachelor's,Senior Operations Coordinator,7.0,90000.0
362,44.0,Female,PhD,Senior Business Analyst,15.0,150000.0
363,33.0,Male,Bachelor's,Junior Marketing Specialist,5.0,70000.0
364,35.0,Female,Bachelor's,Senior Financial Manager,8.0,90000.0
365,43.0,Male,Master's,Director of Marketing,18.0,170000.0
366,31.0,Female,Bachelor's,Junior Financial Analyst,3.0,50000.0
367,41.0,Male,Bachelor's,Senior Product Manager,14.0,150000.0
368,44.0,Female,PhD,Senior Data Engineer,16.0,160000.0
369,33.0,Male,Bachelor's,Junior Business Analyst,4.0,60000.0
370,35.0,Female,Bachelor's,Senior Marketing Analyst,8.0,85000.0
372,29.0,Female,Bachelor's,Junior Project Manager,2.0,40000.0
373,34.0,Male,Bachelor's,Senior Operations Coordinator,7.0,90000.0
374,44.0,Female,PhD,Senior Business Analyst,15.0,150000.0

In [45]:
Sal_data[Sal_data.duplicated()].shape

(50, 6)

In [51]:
Sal_data1 = Sal_data.drop_duplicates(keep = 'first')
Sal_data1.shape

(325, 6)

In [52]:
Sal_data1.isnull().sum()

Age                1
Gender             1
Degree             1
Job_title          1
Experience_year    1
Salary             1
dtype: int64

In [53]:
Sal_data1.dropna(how = 'any',inplace=True)

/tmp/ipython-input-53-1072986123.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Sal_data1.dropna(how = 'any',inplace=True)

In [54]:
Sal_data1.shape

(324, 6)

In [55]:
Sal_data1.head()

    Age  Gender      Degree          Job_title  Experience_year    Salary
0  32.0    Male  Bachelor's  Software Engineer              5.0   90000.0
1  28.0  Female    Master's       Data Analyst              3.0   65000.0
2  45.0    Male         PhD     Senior Manager             15.0  150000.0
3  36.0  Female  Bachelor's    Sales Associate              7.0   60000.0
4  52.0    Male    Master's           Director             20.0  200000.0

In [56]:
Sal_data.describe()

              Age  Experience_year         Salary
count  373.000000       373.000000     373.000000
mean    37.431635        10.030831  100577.345845
std      7.069073         6.557007   48240.013482
min     23.000000         0.000000     350.000000
25%     31.000000         4.000000   55000.000000
50%     36.000000         9.000000   95000.000000
75%     44.000000        15.000000  140000.000000
max     53.000000        25.000000  250000.000000